@using ToolsAppDemo.Shared

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var car in Cars)
    {
      <CarViewRow Car=@car />
    }
  </tbody>
</table>

@code {
  [Parameter]
  public IEnumerable<Car> Cars { get; set; }
}