@inherits TestComponentBase

<SnapshotTest Description="Box component renders correctly">
  <TestInput>
    <Box>
        <p>This is cool!</p>
    </Box>
  </TestInput>
  <ExpectedOutput>
    <div class="box">
        <p>This is cool!</p>
    </div>
  </ExpectedOutput>
</SnapshotTest>